:root {
  --main: #ffb921;
}

body {
  margin: 0;
  font-family: Roboto, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(209, 209, 209);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}

#container {
  padding: 2rem;
  padding-bottom: 4.5em;
}
